.chart-wrapper {
  width: 100%;
  height: 600px;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.fake-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 14px;
  border: none;
  background: #ff0078;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
}
